* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #377e9a;
}

.container {
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #f5f5f5;
  /* background-image: url(./assets/main_bg.png); */
  background-size: cover;
  background-repeat: no-repeat;
}

.pages {
  padding: 15px 0;
  position: relative;
  flex: 1;
}

.page {
  border-radius: 16px;
  background: white;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}

.page__header {
  padding: 32px 64px;
  background-color: #eb8a23;
  color: white;
  /* background-image: url(./assets/main_bg.png); */
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.page__title {
  margin: 0;
  text-align: center;
  font-size: 44px;
}

.page__content {
  padding: 32px 64px;
  background-color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.homepage__header {
  display: flex;
  padding-bottom: 0;
  align-items: center;
}

.homepage__title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .homepage__avatar {
  border-radius: 4px;
  width: 250px;
  height: 250px;
  margin: 24px 0 -24px;
  border: 3px solid white;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.homepage__avatar:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
} */

.homepage__name {
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
}

.homepage__position {
  font-size: 1.25rem;
  margin-top: 8px;
}

.homepage__socialMedias {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

/* .homepage__socialMediaItem {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 8px;
  border-radius: 100%;
} */

.homepage__content {
  padding-top: 56px;
}

.homepage__content,
.resumePage__sub {
  display: flex;
  justify-content: space-between;
}

/* .homepage__content > div {
  flex-basis: calc(50% - 32px);
} */

.homepage__aboutMeHeader {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.homepage__aboutMeHeaderHighlight {
  color: #eb8a23;
}

.homepage__aboutMeContent {
  line-height: 1.75;
}

.footer {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 8px 0;
}

/* =================== */
/* === Login css ====*/
body {
  font-family: "Karla", sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

.login-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 68px 100px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .login-section-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 575px) {
  .login-section-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
  }
}

.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 575px) {
  .login-wrapper {
    width: 100%;
  }
}
.login-wrapper label {
  font-size: 14px;
  font-weight: bold;
  color: #333232;
  margin-bottom: 5px;
  margin-top: 15px;
}
.login-wrapper .form-control {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  padding: 9px 5px;
  min-height: 40px;
  font-size: 18px;
  font-weight: normal;
}

.login-wrapper .login-btn {
  width: 100%;
  padding: 13px 20px;
  background-color: #eb8a23;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 14px;
}
.login-wrapper .login-btn:hover {
  border: 1px solid #eb8a23;
  background-color: #fff;
  color: #eb8a23;
}

.login-wrapper a.forgot-password-link {
  color: #080808;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 30px;
}
@media (max-width: 575px) {
  .login-wrapper a.forgot-password-link {
    margin-bottom: 16px;
  }
}
.login-wrapper-footer-text {
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
}

.login-wrapper-footer-text .switch-signup:hover {
  text-decoration: underline;
  color: #eb8a23;
}

.login-title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.login-img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
}
/* =========== */

/* ===================== */
/* ===== Signup css */
.signup-title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
}

.signup-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 20px 100px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .signup-section-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 575px) {
  .signup-section-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
  }
}

.signup-btn {
  width: 40%;
  padding: 13px 20px;
  background-color: #eb8a23;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-left: 30%;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
}
.signup-btn:hover {
  border: 1px solid #eb8a23;
  background-color: #fff;
  color: #eb8a23;
}

.signup-wrapper-footer-text {
  font-size: 16px;
  color: #000;
  /* padding-left: 200px; */
  text-align: center;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.signup-wrapper-footer-text .switch-login:hover {
  text-decoration: underline;
  color: #eb8a23;
}

/* ==================== */

/* ===================== */
/* ======ForRestaurant CSS */

.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.file-upload .file-select {
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select .file-select-button {
  background: #dce4ec;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

.file-upload .file-select:hover {
  border-color: #34495e;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
  background: #34495e;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload .file-select input[type="file"] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}
.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

/* ======================= */

/* ========================== */
/* ======AfterloginHeader CSS  */
.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.navbar {
  color: #fff;
  background: #926dde !important;
  padding: 5px 16px;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.navbar img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.navbar .navbar-brand {
  color: #efe5ff;
  padding-left: 0;
  padding-right: 50px;
  font-size: 24px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
}
.navbar .navbar-brand i {
  font-size: 25px;
  margin-right: 5px;
}
.search-box {
  position: relative;
}
.search-box input {
  padding-right: 35px;
  min-height: 38px;
  border: none;
  background: #faf7fd;
  border-radius: 3px !important;
}
.search-box input:focus {
  background: #fff;
  box-shadow: none;
}
.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 10px 7px;
  height: 100%;
}
.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}
.navbar .nav-item i {
  font-size: 18px;
}
.navbar .nav-item span {
  position: relative;
  top: 3px;
}
.navbar .navbar-nav > a {
  color: #efe5ff;
  padding: 8px 15px;
  font-size: 14px;
}
.navbar .navbar-nav > a:hover,
.navbar .navbar-nav > a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}
.navbar .navbar-nav > a > i {
  display: block;
  text-align: center;
}
.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}
.navbar .dropdown-item .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
.navbar .nav-item.open > a,
.navbar .nav-item.open > a:hover,
.navbar .nav-item.open > a:focus {
  color: #fff;
  background: none !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .dropdown-menu a {
  color: #777 !important;
  padding: 8px 20px;
  line-height: normal;
  font-size: 15px;
}
.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:focus {
  color: #333 !important;
  background: transparent !important;
}
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
  background: transparent !important;
}
.navbar .navbar-nav .user-action {
  padding: 9px 15px;
  font-size: 15px;
}
.navbar .navbar-toggle {
  border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
  background: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
  background: #faf7fd;
  border-radius: 1px;
  border-color: #faf7fd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .divider {
  background-color: #e9ecef !important;
}
@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 350px;
    margin-left: 30px;
  }
}
@media (max-width: 1199px) {
  .navbar .navbar-nav > a > i {
    display: inline-block;
    text-align: left;
    min-width: 30px;
    position: relative;
    top: 4px;
  }
  .navbar .navbar-collapse {
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .navbar .navbar-form {
    border: none;
    display: block;
    margin: 10px 0;
    padding: 0;
  }
  .navbar .navbar-nav {
    margin: 8px 0;
  }
  .navbar .navbar-toggle {
    margin-right: 0;
  }
  .input-group {
    width: 100%;
  }
}
/* ========================== */
